eureka:
  instance:
    lease-renewal-interval-in-seconds: 10
    lease-expiration-duration-in-seconds: 10
  client:
    service-url:
      defaultZone: http://eureka-server:8761/eureka/

spring:
  application:
    name: gateway-server
  codec:
    max-in-memory-size: 10MB
  servlet:
    multipart:
      max-file-size: 10MB
      max-request-size: 15MB
  cloud:
    gateway:
      httpclient:
        max-initial-line-length: 16384
        max-header-size: 16384
        max-chunk-size: 20971520 # 20MB
        max-in-memory-size: 20971520 # 20MB
      discovery:
        locator:
          enabled: true
          lower-case-service-id: true
      default-filters:
        - TokenRelay=
      routes:
        - id: auth-service
          uri: lb://auth-service
          predicates:
            - Path=/api/auth/**
          filters:
            - TokenRelay=
        - id: user-service
          uri: lb://user-service
          predicates:
            - Path=/api/users/**
          filters:
            - TokenRelay=
        - id: event-service
          uri: lb://event-service
          predicates:
            - Path=/api/events/**
          filters:
            - TokenRelay=
        - id: resource-service
          uri: lb://resource-service
          predicates:
            - Path=/api/resources/**
          filters:
            - TokenRelay=
        - id: event-registration-service
          uri: lb://event-registration-service
          predicates:
            - Path=/api/participations/**
          #filters:
          #  - TokenRelay=
logging:
  level:
    org.springframework.security: DEBUG
    org.springframework.web.client.RestTemplate: DEBUG
    org.springframework.security.oauth2.client: TRACE
    org.springframework.cloud.gateway: DEBUG
    org.springframework.web: DEBUG
jwt:
  secret: c29tZXN1cGVyc2VjdXJla2V5Zm9yamF3dHRva2VuYmFzZTY0IQ==

server:
  port: 8081