server:
  port: 8085

eureka:
  instance:
    lease-renewal-interval-in-seconds: 10
    lease-expiration-duration-in-seconds: 10
  client:
    service-url:
      defaultZone: http://eureka-server:8761/eureka/

minio:
  url: http://minio:9000
  access-key: minio
  secret-key: minio123
  bucket: user-avatars
image:
  proxy:
    base-url: http://localhost:8089

keycloak:
  auth-server-url: http://keycloak:8080
  realm: it52
  client-id: it52-client
  client-secret: vHgP94O0lsGldQHfcHreP02y4X0PsRKQ

spring:
  application:
    name: user-service
  kafka:
    bootstrap-servers: kafka:9092
    producer:
      key-serializer: org.apache.kafka.common.serialization.StringSerializer
      value-serializer: org.springframework.kafka.support.serializer.JsonSerializer
  datasource:
    url: jdbc:postgresql://localhost:5432/it52_mbase501
    username: dborisov
    password: dborisov
  jpa:
    hibernate:
      ddl-auto: update
    show-sql: true
    properties:
      hibernate:
        format_sql: true
        default_schema: public
    database-platform: org.hibernate.dialect.PostgreSQLDialect
jwt:
  secret: c29tZXN1cGVyc2VjdXJla2V5Zm9yamF3dHRva2VuYmFzZTY0IQ==
logging:
  level:
    org.springframework.security: DEBUG
    org.springframework.web.client.RestTemplate: DEBUG
    org.springframework.security.oauth2.client: TRACE
    com.it52.user: DEBUG

eventregistration:
  service:
    url: http://event-registration-service:8088