spring:
  application:
    name: eserver
  profiles:
    active: dev
  config:
    import: optional:configserver:http://config-server:8071
eureka:
  server:
    eviction-interval-timer-in-ms: 10000
  client:
    register-with-eureka: false
    fetch-registry: false
server:
  port: 8761